<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
      <!--  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="style.css"> -->
      <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
      <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
      <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
      <script type=”text/javascript” src=https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js></script>
  </head>
    <body>
      <!-- Container Starts -->
      <div id="container">
        
          <nav class="navbar_menu">
            jet set travel
          </nav>
        
        <!-- Box starting -->
        <div class="travel-box" >

          <!-- Headlines -->
          <div class="headline">
            <h1>travel planner</h1>
            <p>plan your wonderful trip with us!</p>
          </div>
              
          <!-- Destination -->  
          <div class="city">
            <label for="city">Where are you going?</label>
            <label id="fontawesome">
              <input type="text" id="city" class="stuff" />
              <i class="fas fa-search-location"></i>
            </label>
          </div>

          <!-- Flex-container starts -->
          <div class="flex-container">

            <!-- Departure date -->
            <div class="departureDate">
              <label for="date"> departing </label>
              <input type="date" id="deptdate" class="myInput" placeholder="MM-DD-YYYY"/>
            </div>

            <!-- Return date -->
            <div class ="returnDate">
              <label for="date"> returning </label>
              <input type="date" id="retdate" class="myInput" placeholder="MM-DD-YYYY"/>
            </div>

          </div>
          <!-- Flex-container Ends -->

          <button id="generate" class="button" type="submit"> search </button>
           
        </div>
          <!-- Box Ending -->
      </div>
      <!-- Container Ends -->
          
        <div class="output">
            <div id="tripInfo"></div>
            <div id="content"></div>
            <img id="image">
        </div>

        <footer> 
          <p> udacity capstone project <i class="far fa-copyright"> </i> 2020</p>
        </footer>

        <script>
           // Check that service workers are supported
           if ('serviceWorker' in navigator) {
               // Use the window load event to keep the page load performant
               window.addEventListener('load', () => {
                   navigator.serviceWorker.register('/service-worker.js');
               });
           }
        </script>
    </body>
</html>