body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#mainContainer{
    display: grid;
    grid-template-columns: auto;
    
    background: green;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
}

#app-info{
    display: grid;
    grid-auto-rows: minmax(50px, center);
    grid-template-columns: center;
    background: grey;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#userInput {
    display: block;
    // height: 40vh;
    grid-area: main;
    justify-content: center;
}

header {
    display: block;
    text-align: center;
    font-size: 3em;
    width: 100%;
    color: #2e3532;
    background-color: #e0e2db;
}

.holder-headline{
   font-size: 50px;
    font-family: 'Oswald', sans-serif;
    border: normal;
    justify-content: center;
    color: #f0d43a;
    background:#22b2da;
}

label {
    display: block;
     font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 320px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

button:hover {
    background-color: black;
}

h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 

html{
    scroll-behavior: smooth;
}

@media (min-width: 1101px){
    #app{
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: auto; 
        color: white;
        grid-template-areas: "main main main main main main main main"
        "res res res res res res res res"
        "ft ft ft ft ft ft ft ft";
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 3px 0;
    background-color: #d2d4c8;
    color: #2e3532;
    padding: 10px;
    background: grey;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    color: #f0d43a;
}